body {
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #343434;
}

.title h3 {
  font-family: "Lora", serif;
  font-size: 1.4375em;
  margin-top: 2.3%;
  line-height: 2.5rem;
  font-weight: 400;
  color: #767676;
}

#news .news-button a, #blue .blue-content a {
  background-color: transparent;
  padding: 15px 55px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.625rem;
  border: 2px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#news .news-button a:hover, #blue .blue-content a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:active,
.btn:focus,
.btn.active {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input {
  -webkit-box-shadow: none !important;
  box-shadow: none;
  outline: 0;
  border: 0 !important;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#navBar {
  position: relative;
  overflow: hidden;
}

#navBar #modal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2100;
  vertical-align: middle;
  display: none;
}

#navBar #modal .pop-up {
  margin-top: 50.5%;
}

#navBar #modal .closeBtn {
  position: absolute;
  top: 3.5%;
  right: 2%;
  z-index: 3000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navBar #modal .closeBtn i {
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navBar #modal #iconified {
  text-indent: 50px;
  z-index: 20000;
  padding: 25px 0;
  border-radius: 30px;
  color: white !important;
  background-color: #aaaaaa7a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navBar #modal #iconified:focus {
  color: white;
}

#navBar #modal #iconified::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  text-align: left;
  color: white;
}

#navBar #modal #iconified:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  text-align: left;
  color: white;
}

#navBar #modal #iconified::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  text-align: left;
  color: white;
}

#navBar #modal #iconified::placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  text-align: left;
  color: white;
}

#navBar #modal .search {
  display: inline;
  position: relative;
}

#navBar #modal .search i {
  position: absolute;
  top: 17px;
  left: 17px;
  z-index: 3000;
  color: white;
}

#navBar #cart-content {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  padding: 10px 0;
  background-color: white;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navBar #cart-content h5 {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 700;
  margin: 0 6%;
  padding: 20px 0;
  border-bottom: 1px solid  #f1f1f1;
}

#navBar #cart-content .close-cart-icon {
  position: relative;
  cursor: pointer;
}

#navBar #cart-content .close-cart-icon i.main {
  position: absolute;
  top: -60px;
  right: 25px;
  width: 40px;
  height: 40px;
  line-height: 41px;
  border-radius: 50%;
  background-color: #232323;
  opacity: .7;
  color: white;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navBar #cart-content .close-cart-icon i.main:hover {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navBar #cart-content .cart-content-inner {
  overflow-y: scroll;
}

#navBar #cart-content .cart-content-inner .shop-content-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 25px;
  position: relative;
}

#navBar #cart-content .cart-content-inner .shop-content-cart img {
  width: 7.7rem;
  height: 4.7rem;
}

#navBar #cart-content .cart-content-inner .shop-content-cart .shop-content-txt-cart {
  position: relative;
  margin-left: 6%;
  width: 100%;
}

#navBar #cart-content .cart-content-inner .shop-content-cart .shop-content-txt-cart h5 {
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #767676;
  font-weight: 400;
  border: 0;
}

#navBar #cart-content .cart-content-inner .shop-content-cart .shop-content-txt-cart span {
  position: absolute;
  top: 75%;
  left: 6.5%;
  font-size: 0.625em;
  color: #767676;
}

#navBar #cart-content .cart-content-inner .shop-content-cart i.itemclose {
  position: absolute;
  top: 30%;
  right: 7%;
  color: #767676;
  opacity: .7;
  cursor: pointer;
}

#navBar #cart-content .cart-content-inner .shop-content-cart i.itemclose:hover {
  opacity: 1;
}

#navBar #cart-content .cart-down {
  margin-top: 10%;
  padding-top: 10%;
  border-top: 1px solid #f1f1f1;
  margin: 0 6%;
}

#navBar #cart-content .cart-down h5 {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 700;
  display: inline;
  border-bottom: 0;
}

#navBar #cart-content .cart-down span {
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #767676;
  font-weight: 400;
}

#navBar #cart-content .cart-down .checkBtn {
  margin-top: 20%;
  text-align: center;
}

#navBar #cart-content .cart-down .checkBtn a {
  text-decoration: none;
  padding: 16px 66px;
  background-color: #425cbb;
}

#navBar #cart-content .cart-down .checkBtn a span.checkLink {
  color: white;
  font-size: 0.625rem;
  font-family: "Montserrat", sans-serif;
}

#navBar #cart-content .cart-down .checkBtn a:hover {
  background-color: #546cc3 !important;
}

.homepage-nav {
  background-color: transparent;
  padding: 10px !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.homepage-nav a.navbar-brand {
  margin-left: 2.6%;
}

.homepage-nav a.navbar-brand img {
  height: 26px;
}

.homepage-nav ul.navbar-nav {
  margin-left: 3%;
}

.homepage-nav ul.navbar-nav li {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
}

.homepage-nav ul.navbar-nav li a {
  color: white !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.homepage-nav ul.navbar-nav li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.homepage-nav .nav-icons {
  margin-left: 65%;
  margin-top: 10px;
}

.homepage-nav .nav-icons span {
  font-size: 0.625rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-left: 8px;
}

.homepage-nav .nav-icons li {
  margin-right: 32px;
}

.homepage-nav .nav-icons li a {
  color: white !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.homepage-nav .nav-icons li a i {
  font-size: 14px;
}

.homepage-nav .nav-icons li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.homepage-nav::after {
  position: absolute;
  content: "";
  height: 71px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  right: 9.5%;
}

.scrolled {
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled ul.navbar-nav li a {
  color: black !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled ul.navbar-nav li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled .nav-icons li a {
  color: black !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled .nav-icons li a i {
  font-size: 14px;
}

.scrolled .nav-icons li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled::after {
  background-color: rgba(146, 145, 145, 0.288);
}

@media screen and (max-width: 990px) {
  #navBar #modal .pop-up {
    margin-top: 100%;
  }
  .homepage-nav {
    background-color: #f8f8f8;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    position: static;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    padding: 10px 0 !important;
  }
  .homepage-nav img.first {
    display: none;
  }
  .homepage-nav img.second {
    display: block;
  }
  .homepage-nav .navbar-toggler span i {
    color: #767676;
    opacity: .7;
    margin-top: 11px;
  }
  .homepage-nav ul.navbar-nav li a {
    color: black !important;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .homepage-nav ul.navbar-nav li a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .homepage-nav .nav-icons {
    margin-left: 3%;
  }
  .homepage-nav .nav-icons li {
    margin-right: 0;
    margin-bottom: 2%;
  }
  .homepage-nav .nav-icons li a {
    color: black !important;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .homepage-nav .nav-icons li a i {
    font-size: 14px;
  }
  .homepage-nav .nav-icons li a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .homepage-nav::after {
    background-color: transparent;
  }
}

@media screen and (max-width: 700px) {
  #navBar #modal .closeBtn {
    top: 6.5%;
    right: 5%;
  }
  #navBar #cart-content {
    width: 375px;
  }
}

#intro {
  height: 100vh;
  background-image: url(../img/intro-pic/hero1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#intro::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.308);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#intro .logo {
  margin-top: 5%;
  text-align: right;
}

#intro .logo img {
  height: 120px;
}

#intro .txt {
  margin-top: 13%;
  text-align: left;
}

#intro .txt h1 {
  font-weight: 400;
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-family: "Lora", serif;
  color: white;
  opacity: .9;
  z-index: 5;
}

#intro .play-btn {
  margin-top: 5%;
}

#intro .play-btn .videoBtn {
  border-radius: 30px;
  padding: 10px 67px;
  background-color: #425cbb;
}

#intro .play-btn .videoBtn:hover {
  border-color: #546cc3 !important;
  background-color: #546cc3 !important;
}

#intro .play-btn .videoBtn span {
  color: white;
  font-size: 0.6rem;
  text-transform: uppercase;
  line-height: 1.563rem;
}

#intro .intro-icons {
  position: relative;
}

#intro .intro-icons ul {
  position: absolute;
  left: 30%;
  top: 150px;
}

#intro .intro-icons ul li a {
  color: white;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#intro .intro-icons ul li a:hover {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#intro .intro-icons ul li a i {
  font-size: 1.5rem;
}

#intro .intro-icons ul li:not(:last-child) {
  margin-right: 75%;
}

@media screen and (max-width: 990px) {
  #intro {
    background-attachment: scroll;
  }
  #intro .logo img {
    height: 100px;
  }
  #intro .txt h1 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  #intro {
    background-attachment: scroll;
    height: 0;
    padding: 250px 0;
  }
  #intro .logo {
    text-align: center;
  }
  #intro .logo img {
    height: 85px;
  }
  #intro .txt {
    text-align: center;
  }
  #intro .txt h1 {
    font-size: 1.2rem;
  }
  #intro .play-btn .videoBtn {
    padding: 7px 40px;
  }
  #intro .intro-icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 29%;
    top: 20px;
  }
  #intro .intro-icons ul li a i {
    font-size: 1rem;
  }
  #intro .intro-icons ul li:not(:last-child) {
    margin-right: 50%;
  }
}

#digital {
  overflow: hidden;
  padding: 100px 0;
}

#digital .digital-tab {
  margin-top: 11%;
}

#digital .digital-tab ul li {
  font-family: "Lora", serif;
  font-size: 1.08rem;
  opacity: 0.5;
  font-style: italic;
  color: #767676;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#digital .digital-tab ul li:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

#digital .digital-tab ul li.active {
  opacity: 1;
}

#digital .digital-tab ul li.backslash::before {
  content: "/";
  opacity: .2;
  margin: 0 10px;
}

#digital .photo-content {
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital .photo-content .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #232323c4;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital .photo-content .overlay h6 {
  color: white;
  text-align: right;
  margin-right: 9%;
  margin-top: 13%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 700;
}

#digital .photo-content .overlay p {
  color: white;
  text-align: right;
  margin-right: 9%;
  font-style: italic;
  font-family: "Lora", serif;
}

#digital .photo-content:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital .photo-content:hover .overlay {
  opacity: 1;
  visibility: visible;
}

#digital .photo-content:hover .overlay h6 {
  margin-top: 10%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (max-width: 700px) {
  #digital .title h1 {
    font-size: 1.5rem;
  }
  #digital .title h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  #digital .digital-tab ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #digital .digital-tab ul li {
    font-size: 1rem;
  }
}

#creative {
  padding: 10px 0 130px 0;
}

#creative .pictures {
  margin-top: 45%;
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#creative .pictures .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #232323c4;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#creative .pictures .overlay span {
  display: block;
  color: white;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: 8%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: .75;
  margin-bottom: 1%;
}

#creative .pictures .overlay p {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 8%;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#creative .pictures .overlay .social {
  position: relative;
}

#creative .pictures .overlay .social ul {
  position: absolute;
  top: 130px;
  left: -76px;
}

#creative .pictures .overlay .social ul li a {
  color: white;
  opacity: 0.5;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#creative .pictures .overlay .social ul li a:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 1;
}

#creative .pictures .overlay .social ul li:not(:last-child) {
  margin-right: 33px;
}

#creative .pictures:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#creative .pictures:hover .overlay {
  opacity: 1;
  visibility: visible;
}

#creative .pictures:hover .overlay span {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 0;
}

#creative .pictures:hover .overlay p {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 0;
}

@media screen and (max-width: 990px) {
  #creative .title h3 {
    font-size: 1.35rem;
  }
  #creative .pictures .overlay .social ul {
    top: 60px;
  }
}

@media screen and (max-width: 700px) {
  #creative .title h1 {
    font-size: 1.5rem;
  }
  #creative .title h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  #creative .pictures .overlay .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 30px;
    left: -60px;
  }
  #creative .pictures .overlay .social ul li:not(:last-child) {
    margin-right: 20px;
  }
}

#parallax {
  padding: 100px 0;
  background-attachment: fixed;
  background-image: url(../img/parallax/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#parallax .parallax-icon {
  text-align: center;
}

#parallax .parallax-icon i {
  font-size: 4rem;
  color: white;
}

#parallax .parallax-icon h3 {
  font-weight: 700;
  color: white;
  margin: 6% 0;
}

#parallax .parallax-icon p {
  font-style: italic;
  font-family: "Lora", serif;
  color: white;
}

#parallax::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 990px) {
  #parallax {
    background-attachment: scroll;
  }
}

#expertise {
  padding: 100px 0;
}

#expertise .expert-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12%;
}

#expertise .expert-content .ex-icon i {
  font-size: 2.8125rem;
  color: #425cbb;
}

#expertise .expert-content .ex-text span {
  letter-spacing: 1px;
  font-size: 0.625rem;
  color: #767676;
}

#expertise .expert-content .ex-text p {
  margin-top: 5%;
  font-weight: 300;
  color: #767676;
  font-family: "Lora", serif;
}

@media screen and (max-width: 990px) {
  #expertise .expert-content .ex-text {
    margin-left: 5%;
  }
}

@media screen and (max-width: 700px) {
  #expertise .title h1 {
    font-size: 1.5rem;
  }
  #expertise .title h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  #expertise .expert-content .ex-icon {
    margin-top: 27%;
  }
}

#big-photo {
  padding: 100px 0 0 0;
  position: relative;
}

#big-photo .photo-txt {
  margin-top: 35%;
  position: relative;
}

#big-photo .photo-txt h3 {
  font-size: 1.4rem;
  line-height: 2rem;
  font-style: italic;
  font-family: "Lora", serif;
  color: #767676;
  font-weight: 400;
}

#big-photo .photo-txt p {
  margin-top: 6%;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0;
}

#big-photo .photo-txt span {
  font-size: 0.625em;
  letter-spacing: 1px;
  font-weight: 400;
}

#big-photo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 68.5%;
  left: 0;
  top: 31.5%;
  background-color: #f4f4f4;
}

@media screen and (max-width: 990px) {
  #big-photo .photo-txt {
    margin-top: 15%;
  }
  #big-photo::before {
    background-color: #f8f9fa;
  }
}

@media screen and (max-width: 700px) {
  #big-photo {
    padding: 0;
  }
  #big-photo .photo-txt {
    text-align: center;
  }
  #big-photo .photo {
    margin-top: 10%;
  }
}

#news {
  padding: 100px 0;
}

#news .card {
  margin-top: 35%;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#news .card:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

#news .card img {
  border-radius: 0;
}

#news .card h5.card-title {
  font-size: 0.625rem;
  color: #767676;
}

#news .card p.card-text {
  margin-top: 7%;
  font-size: 1rem;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 15%;
}

#news .card span {
  margin-top: 8%;
  font-size: 0.625rem;
  font-style: italic;
  display: inline-block;
  font-family: "Lora", serif;
  color: #767676;
}

#news .card p.down {
  margin-top: 8%;
  display: inline-block;
  font-size: 0.625rem;
  text-transform: uppercase;
  margin-left: 1.5%;
  color: #767676;
}

#news .news-button {
  margin-top: 25%;
}

#news .news-button a {
  border: 2px solid rgba(35, 35, 35, 0.1);
  font-size: 0.625rem;
  color: #343434;
}

#news .news-button a:hover {
  border-color: rgba(35, 35, 35, 0.9) !important;
}

@media screen and (max-width: 990px) {
  #news .title h3 {
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 700px) {
  #news .title h1 {
    font-size: 1.5rem;
  }
  #news .title h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  #news .card {
    margin-top: 20%;
  }
}

#slider {
  padding: 40px 0;
  background: #f4f4f4;
}

#slider .slide .item {
  padding: 35px;
}

#slider .slide .item img {
  opacity: .3;
}

@media screen and (max-width: 990px) {
  #slider {
    padding: 25px 0;
    background: #f4f4f4;
  }
  #slider .slide .item {
    padding: 15px;
  }
}

@media screen and (max-width: 700px) {
  #slider {
    padding: 25px 0;
    background: #f4f4f4;
  }
  #slider .slide .item {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #slider .slide .item img {
    width: 50%;
  }
}

#blue {
  padding: 65px 0;
  background-color: #425cbb;
}

#blue .blue-content h3 {
  display: inline-block;
  color: white;
  font-size: 1.4375em;
  font-weight: 700;
  margin-top: 10px;
}

#blue .blue-content a {
  margin-left: 2.5%;
  color: white;
  padding: 15px 35px;
  border-color: rgba(255, 255, 255, 0.1);
}

#blue .blue-content a:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

#blue .blue-content a span {
  display: block;
  letter-spacing: 1px;
}

@media screen and (max-width: 700px) {
  #blue .blue-content h3 {
    font-size: 1.1rem;
    margin-bottom: 5%;
  }
  #blue .blue-content a {
    margin-left: 0%;
    display: inline-block;
  }
}

footer #email {
  padding: 100px 0;
  background-color: #232323;
}

footer #email .footer-content .footer-logo {
  margin-bottom: 5%;
}

footer #email .footer-content .footer-logo img {
  height: 33px;
}

footer #email .footer-content h6 {
  margin-bottom: 8%;
  color: #f5f5f5;
  font-family: "Lora", serif;
  font-style: italic;
}

footer #email .footer-content ul li {
  margin-bottom: 2%;
}

footer #email .footer-content ul li a {
  letter-spacing: 1px;
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 0.625rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer #email .footer-content ul li a:hover {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer #email .footer-content2 span {
  font-size: 0.625rem;
  color: white;
}

footer #email .footer-content2 p {
  font-size: 1rem;
  line-height: 1.625em;
  margin-top: 6%;
  color: #f5f5f5;
  font-family: "Lora", serif;
  opacity: .9;
  margin-bottom: 0;
}

footer #email .footer-content2 p span {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

footer #email .footer-content2 p span:hover {
  opacity: .75;
}

footer #email .footer-content2 a {
  color: #f5f5f5;
  font-family: "Lora", serif;
  opacity: .9;
  text-decoration: underline;
}

footer #email .footer-content2 a:hover {
  opacity: .75;
}

footer #email .footer-content3 span {
  display: block;
  font-size: 0.625rem;
  color: white;
  margin-bottom: 8%;
}

footer #email .footer-content3 h5 {
  font-size: 1em;
  color: white;
  opacity: .9;
  font-family: "Lora", serif;
}

footer #email .footer-content3 .typing {
  margin-top: 10%;
  margin-bottom: 18%;
}

footer #email .footer-content3 .typing input {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 27px 0;
  text-indent: 25px;
}

footer #email .footer-content3 .typing input::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

footer #email .footer-content3 .typing input:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

footer #email .footer-content3 .typing input::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

footer #email .footer-content3 .typing input::placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

footer #email .footer-content3 .typing .emailBtn {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #425cbb;
  color: white;
  font-size: 0.625rem;
  padding: 14px 35px;
  line-height: 25px;
  text-decoration: none;
}

footer #email .footer-content3 ul li {
  margin-right: 9%;
}

footer #email .footer-content3 ul li a {
  color: white;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer #email .footer-content3 ul li a:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}

footer #email .footer-content3 ul li a i {
  font-size: 1rem;
}

footer #copy {
  position: relative;
  padding: 40px 0;
  background-color: #1e1e1e;
}

footer #copy p {
  color: white;
  opacity: 0.5;
  font-size: 0.7rem;
  font-family: "Lora", serif;
}

footer #copy .moveTop a {
  color: white;
}

footer #copy .moveTop a i {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #3d3d3d;
  border-radius: 50%;
  position: absolute;
  top: -200%;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer #copy .moveTop:hover i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: -220%;
}

@media screen and (max-width: 990px) {
  footer #email .footer-content3 .typing {
    margin-top: 4%;
    margin-bottom: 6%;
  }
  footer #email .footer-content3 ul li {
    margin-right: 5%;
  }
  footer #copy .moveTop a:hover i {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    top: -40%;
  }
  footer #copy .moveTop a i {
    top: -40%;
  }
}

@media screen and (max-width: 700px) {
  footer #email {
    padding: 50px 0;
  }
  footer #email .footer-content3 .typing {
    margin-top: 4%;
    margin-bottom: 6%;
  }
  footer #email .footer-content3 .typing input {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 5%;
  }
  footer #email .footer-content3 .typing .emailBtn {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 14px 165px;
    display: inline-block;
    margin-bottom: 25px;
  }
  footer #email .footer-content3 ul li {
    margin-right: 7.5%;
  }
  footer #copy {
    padding: 70px 0;
  }
  footer #copy .copy-content {
    text-align: center;
  }
  footer #copy .copy-content p {
    font-size: 0.625rem;
  }
  footer #copy .moveTop a:hover i {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    top: 100%;
  }
  footer #copy .moveTop a i {
    top: 100%;
    right: 42%;
  }
}

#service {
  padding: 200px 0;
  background-image: url(../img/about-bg/hero5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#service::before {
  content: "";
  background-color: #232323;
  opacity: .8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#service .title h1 {
  color: white;
}

#service .title h3 {
  color: white;
  padding: 0 10%;
}

#iconic {
  padding: 100px 0;
  margin-top: -200px;
}

#iconic .iconic-content {
  margin-bottom: 30px;
}

#iconic .iconic-content .main-icon {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20% 0;
}

#iconic .iconic-content .main-icon i {
  font-size: 4.5rem;
}

#iconic .iconic-content .iconic-text {
  background-color: white;
  padding: 18% 11%;
}

#iconic .iconic-content .iconic-text h5 {
  font-size: 1rem;
  font-weight: 700;
}

#iconic .iconic-content .iconic-text p {
  font-family: "Lora", serif;
  color: #767676;
  margin-top: 1.625rem;
}

#consultation {
  padding: 130px 0;
  background-image: url(../img/about-bg/hero8.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#consultation::before {
  content: "";
  background-color: #232323;
  opacity: .4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#consultation .consult h4 {
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 3%;
}

#consultation .consult .consultBtn {
  text-decoration: none;
  border-radius: 30px;
  padding: 17px 60px;
  background-color: #425cbb;
}

#consultation .consult .consultBtn:hover {
  border-color: #546cc3 !important;
  background-color: #546cc3 !important;
}

#consultation .consult .consultBtn span {
  font-size: 0.625rem;
  color: white;
  letter-spacing: 1px;
}

@media screen and (max-width: 990px) {
  #service {
    background-attachment: scroll;
  }
  #service .title h3 {
    padding: 0 2%;
  }
  #consultation {
    background-attachment: scroll;
  }
  #consultation .consult h4 {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 700px) {
  #service {
    padding: 100px 0;
    background-attachment: scroll;
  }
  #service .title h1 {
    font-size: 1.2rem;
    margin-bottom: 5%;
  }
  #service .title h3 {
    padding: 0 2%;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  #iconic .iconic-content .iconic-text {
    padding: 10% 11%;
  }
  #consultation {
    background-attachment: scroll;
  }
  #consultation .consult h4 {
    margin-bottom: 10%;
    font-size: 1.2rem;
  }
}

#great {
  padding: 175px 0;
  background-image: url(../img/contact-pagebg/hero16.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#great::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.438);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#great .title h1 {
  color: white;
}

#great .title h3 {
  color: white;
}

#corporate-info .corporate-content {
  padding: 100px 0;
  text-align: center;
}

#corporate-info .corporate-content i {
  font-size: 4rem;
}

#corporate-info .corporate-content h5 {
  font-weight: 700;
  margin: 7% 0;
}

#corporate-info .corporate-content p {
  font-family: "Lora", serif;
  color: #767676;
  padding: 0 33%;
}

#corporate-info .corporate-content2 {
  background-color: #f4f4f4;
  text-align: center;
  padding: 112px 0;
}

#corporate-info .corporate-content2 i {
  font-size: 4rem;
}

#corporate-info .corporate-content2 h5 {
  font-weight: 700;
  margin: 7% 0;
}

#corporate-info .corporate-content2 p {
  font-family: "Lora", serif;
  color: #767676;
  padding: 0 34%;
}

#corporate-info .corporate-content3 {
  padding: 112px 0;
  text-align: center;
  background-color: #232323;
}

#corporate-info .corporate-content3 i {
  font-size: 4rem;
  color: white;
}

#corporate-info .corporate-content3 h5 {
  font-weight: 700;
  color: white;
  margin: 7% 0;
}

#corporate-info .corporate-content3 p {
  font-family: "Lora", serif;
  color: white;
  padding: 0 29%;
}

#corporate-info .corporate-content3 p a {
  color: white;
  text-decoration: underline;
}

#message {
  padding: 100px 0;
}

#message .message-title {
  margin-bottom: 3.5%;
}

#message .message-title h5 {
  font-weight: 700;
}

#message .message-part {
  position: relative;
}

#message .message-part .name-area input[type=text] {
  padding: 3% 0;
  text-indent: 7.3%;
}

#message .message-part .name-area input[type=text]::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .name-area input[type=text]:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .name-area input[type=text]::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .name-area input[type=text]::placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .name-area i {
  font-size: 1.4375rem;
  position: absolute;
  top: 5%;
  left: 2.6%;
  color: #767676;
}

#message .message-part .email-number {
  position: relative;
}

#message .message-part .email-number input[type=email] {
  padding: 7% 0;
  text-indent: 15%;
}

#message .message-part .email-number input[type=email]::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .email-number input[type=email]:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .email-number input[type=email]::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .email-number input[type=email]::placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .email-number input.number {
  padding: 7% 0;
  text-indent: 15%;
}

#message .message-part .email-number input.number::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .email-number input.number:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .email-number input.number::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .email-number input.number::placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part .email-number i {
  font-size: 1.4375rem;
  position: absolute;
  top: 27%;
  left: 6%;
  color: #767676;
}

#message .message-part textarea {
  border: 0;
  height: 200px;
}

#message .message-part textarea::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part textarea:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part textarea::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part textarea::placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#message .message-part button[type=submit] {
  background-color: #425cbb;
  padding: 10px 327px;
}

#message .message-part button[type=submit] span {
  font-size: 0.625rem;
  text-align: center;
  color: white;
}

#message .message-part button[type=submit]:hover {
  border-color: #546cc3 !important;
  background-color: #546cc3 !important;
}

@media screen and (max-width: 990px) {
  #great {
    background-attachment: scroll;
  }
  #corporate-info .corporate-content {
    padding: 30px 0;
  }
  #corporate-info .corporate-content i {
    font-size: 3rem;
  }
  #corporate-info .corporate-content p {
    padding: 0 38%;
  }
  #corporate-info .corporate-content2 {
    padding: 30px 0;
  }
  #corporate-info .corporate-content2 i {
    font-size: 3rem;
  }
  #corporate-info .corporate-content2 p {
    padding: 0 39%;
  }
  #corporate-info .corporate-content3 {
    padding: 30px 0;
  }
  #corporate-info .corporate-content3 i {
    font-size: 3rem;
  }
  #corporate-info .corporate-content3 p {
    padding: 0 36%;
  }
  #message .message-part .name-area input[type=text] {
    text-indent: 7.3%;
  }
  #message .message-part .name-area i {
    font-size: 1rem;
    top: 3%;
  }
  #message .message-part .email-number i {
    font-size: 1rem;
    top: 30%;
  }
  #message .message-part button[type=submit] {
    padding: 10px 187px;
  }
}

@media screen and (max-width: 700px) {
  #great {
    padding: 30px 0;
    background-attachment: scroll;
  }
  #great .title h1 {
    font-size: 1.35rem;
    line-height: 1.625em;
  }
  #great .title h3 {
    font-size: 1.2em;
    line-height: 1.41304348em;
  }
  #corporate-info .corporate-content p {
    padding: 0px 25%;
  }
  #corporate-info .corporate-content2 p {
    padding: 0px 25%;
  }
  #corporate-info .corporate-content3 p {
    padding: 0px 21%;
  }
  #message .message-part .name-area input[type=text] {
    text-indent: 14.3%;
  }
  #message .message-part .name-area i {
    font-size: 1rem;
    top: 2.5%;
    left: 5%;
  }
  #message .message-part .email-number i {
    font-size: 1rem;
    top: 35%;
  }
  #message .message-part button[type=submit] {
    padding: 10px 134px;
  }
}

#shopCards {
  padding: 45px 0;
  background-color: #f4f4f4;
}

#shopCards .title {
  margin-top: 10%;
}

#shopCards .title h1 {
  font-size: 4rem;
}

#shopCards .shop-tab {
  margin-top: 25%;
}

#shopCards .shop-tab ul li {
  font-family: "Lora", serif;
  font-size: 1.08rem;
  opacity: 0.5;
  font-style: italic;
  color: #767676;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#shopCards .shop-tab ul li:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

#shopCards .shop-tab ul li.active {
  opacity: 1;
}

#shopCards .shop-tab ul li.backslash::before {
  content: "/";
  opacity: .2;
  margin: 0 10px;
}

#shopCards .shop-content {
  background-color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}

#shopCards .shop-content:hover {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

#shopCards .shop-content .item-description {
  padding: 10% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shopCards .shop-content .item-description p {
  letter-spacing: 1px;
  margin-bottom: 2%;
  font-size: 10px;
  font-weight: 400;
  color: #767676;
  opacity: 0.5;
}

#shopCards .shop-content .item-description h5 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
}

#shopCards .shop-content .item-description .prices {
  margin-top: -20%;
}

#shopCards .shop-content .item-description .prices span.discount {
  opacity: 0.5;
  text-decoration: line-through;
  color: #767676;
  font-family: "Lora", serif;
}

#shopCards .shop-content .item-description .prices span.no-discount {
  color: #767676;
  font-family: "Lora", serif;
}

#shopCards .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shopCards .dots span {
  margin: 0 5px;
  display: inline-block;
  color: #232323;
  line-height: 30px;
  font-size: 0.625rem;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#shopCards .dots span:hover {
  background-color: #ececec;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#shopCards .dots span.active {
  background-color: #ececec;
}

#shopCards .dots i {
  font-size: 0.625rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
  line-height: 30px;
  color: #767676;
  opacity: 0.5;
}

#shopCards .dots i:hover {
  background-color: #ececec;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (max-width: 990px) {
  #shopCards .shop-content .item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #shopCards .shop-content .item-description span {
    display: block;
    margin-left: 40%;
  }
}

@media screen and (max-width: 700px) {
  #shopCards .title h1 {
    font-size: 2rem;
  }
  #shopCards .shop-tab ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #shopCards .shop-tab ul li {
    font-size: 1rem;
  }
  #shopCards .shop-content .item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #shopCards .shop-content .item-description span {
    display: block;
    margin-left: 40%;
  }
}

#pre-nav {
  padding: 6px 0;
  background-color: #f4f4f4;
}

#pre-nav .preNav-content {
  margin-top: 5px;
}

#pre-nav .preNav-content span {
  color: #767676;
  font-size: 0.6875em;
  font-family: "Lora", serif;
  margin-left: 2.6%;
}

#pre-nav .pre-socialLinks {
  margin-top: 5px;
}

#pre-nav .pre-socialLinks ul li {
  margin-right: 16%;
}

#pre-nav .pre-socialLinks ul li a {
  color: black;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#pre-nav .pre-socialLinks ul li a:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}

#pre-nav .pre-socialLinks ul li a i {
  font-size: 13px;
}

nav.loginpage {
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 10px !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav.loginpage a.navbar-brand {
  margin-left: 2.6%;
}

nav.loginpage a.navbar-brand img {
  height: 26px;
}

nav.loginpage ul.navbar-nav {
  margin-left: 3%;
}

nav.loginpage ul.navbar-nav li {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
}

nav.loginpage ul.navbar-nav li a {
  color: black;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav.loginpage ul.navbar-nav li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav.loginpage .nav-icons {
  margin-left: 65%;
  margin-top: 10px;
}

nav.loginpage .nav-icons li {
  margin-right: 32px;
}

nav.loginpage .nav-icons li a {
  color: black;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav.loginpage .nav-icons li a i {
  font-size: 14px;
}

nav.loginpage .nav-icons li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav.loginpage::after {
  position: absolute;
  content: "";
  height: 71px;
  width: 1px;
  background-color: rgba(209, 209, 209, 0.41);
  top: 0;
  right: 9.5%;
}

.login-pos-nav {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#login .login-pic {
  background-image: url(../img/login/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
}

#login .login-pic img {
  display: none;
}

#login .login-info {
  padding: 50px 0;
}

#login .login-info .login-title {
  text-align: center;
  margin-bottom: 5%;
}

#login .login-info .login-title .logo-part img {
  height: 3.25rem;
}

#login .login-info .login-title h3 {
  font-family: "Lora", serif;
  font-size: 1.4375em;
  margin-top: 2.3%;
  line-height: 2.5rem;
  font-weight: 400;
  color: #767676;
}

#login .login-info .typing-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#login .login-info .typing-info label {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.625rem;
  margin-left: 8%;
  margin-bottom: 5%;
}

#login .login-info .typing-info i.user {
  position: absolute;
  top: 23%;
  left: 27%;
  font-size: 1.2rem;
  color: #232323;
}

#login .login-info .typing-info i.pass {
  position: absolute;
  top: 73%;
  left: 27%;
  font-size: 1.2rem;
  color: #232323;
}

#login .login-info .typing-info input {
  border-radius: 30px;
  background-color: #f8f8f8;
  padding: 27px 63px;
  text-indent: 0px;
}

#login .login-info .typing-info input::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#login .login-info .typing-info input:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#login .login-info .typing-info input::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#login .login-info .typing-info input::placeholder {
  font-family: "Lora", serif;
  font-style: italic;
  opacity: 0.5;
}

#login .login-info .logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login .login-info .logged .round {
  position: relative;
}

#login .login-info .logged .round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: -10px;
  position: absolute;
  top: 3px;
  width: 28px;
}

#login .login-info .logged .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
}

#login .login-info .logged .round input[type="checkbox"] {
  visibility: hidden;
}

#login .login-info .logged .round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

#login .login-info .logged .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

#login .login-info .logged span {
  color: #767676;
  font-size: 0.6875em;
  font-family: "Lora", serif;
  margin-left: 2%;
  margin-top: 1.2%;
}

#login .login-info .logBtn {
  text-align: center;
  margin-top: 10%;
}

#login .login-info .logBtn a {
  border-radius: 30px;
  padding: 18px 151px;
  background-color: #425cbb;
  text-decoration: none;
}

#login .login-info .logBtn a:hover {
  border-color: #546cc3 !important;
  background-color: #546cc3 !important;
}

#login .login-info .logBtn a .loggedBtn {
  color: white;
  font-size: 0.6rem;
  text-transform: uppercase;
  line-height: 1.563rem;
}

#login .login-info .forgot {
  text-align: center;
  margin-top: 1.625rem;
}

#login .login-info .forgot span {
  color: #767676;
  font-size: 0.6875em;
  font-family: "Lora", serif;
}

#login .login-info .forgot a {
  color: #767676;
  font-family: "Lora", serif;
  font-size: 0.6875em;
  text-decoration: underline;
}

@media screen and (max-width: 990px) {
  nav.loginpage {
    padding: 10px 0 !important;
  }
  nav.loginpage .nav-icons {
    margin-left: 3%;
  }
  nav.loginpage .nav-icons li {
    margin-right: 0;
    margin-bottom: 2%;
  }
  nav.loginpage .nav-icons li a {
    color: black !important;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  nav.loginpage .nav-icons li a i {
    font-size: 14px;
  }
  nav.loginpage .nav-icons li a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  nav.loginpage .nav-icons span {
    font-size: 0.625rem;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-left: 8px;
  }
  nav.loginpage::after {
    background-color: transparent;
  }
  #login .login-info .logged .round label {
    left: -15px;
    top: 0px;
  }
  #login .login-info {
    padding: 195px 0;
  }
  #login .login-info .login-pic img {
    display: none;
  }
  #login .login-info .typing-info i.user {
    top: 25%;
    left: 18%;
  }
  #login .login-info .typing-info i.pass {
    top: 75%;
    left: 18%;
  }
}

@media screen and (max-width: 700px) {
  #pre-nav .preNav-content {
    text-align: center;
  }
  #pre-nav .pre-socialLinks {
    display: none;
  }
  #login .login-pic img {
    display: block;
  }
  #login .login-info {
    background-image: none;
    padding: 50px 0;
  }
  #login .login-info .login-title .logo-part img {
    height: 3rem;
  }
  #login .login-info .typing-info i.user {
    top: 25%;
    left: 10%;
  }
  #login .login-info .typing-info i.pass {
    top: 75%;
    left: 10%;
  }
}
/*# sourceMappingURL=style.css.map */