body {
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #343434;
}

.title h3 {
  font-family: "Lora", serif;
  font-size: 1.4375em;
  margin-top: 2.3%;
  line-height: 2.5rem;
  font-weight: 400;
  color: #767676;
}

.btn:active,
.btn:focus,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav {
  position: relative;
  background-color: transparent;
  padding: 10px !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav a.navbar-brand {
  margin-left: 2.6%;
}

nav a.navbar-brand img {
  height: 26px;
}

nav ul.navbar-nav {
  margin-left: 3%;
}

nav ul.navbar-nav li {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
}

nav ul.navbar-nav li a {
  color: white !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav ul.navbar-nav li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav .nav-icons {
  margin-left: 65%;
  margin-top: 10px;
}

nav .nav-icons li {
  margin-right: 32px;
}

nav .nav-icons li a {
  color: white !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav .nav-icons li a i {
  font-size: 14px;
}

nav .nav-icons li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav::after {
  position: absolute;
  content: "";
  height: 71px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  right: 9.5%;
}

.scrolled {
  background-color: #f8f8f8;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled ul.navbar-nav li a {
  color: black !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled ul.navbar-nav li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled .nav-icons li a {
  color: black !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled .nav-icons li a i {
  font-size: 14px;
}

.scrolled .nav-icons li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scrolled::after {
  background-color: rgba(146, 145, 145, 0.288);
}

#intro {
  height: 100vh;
  background-image: url(../img/intro-pic/hero1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#intro::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.308);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#intro .logo {
  margin-top: 5%;
}

#intro .logo img {
  height: 120px;
}

#intro .txt {
  margin-top: 13%;
}

#intro .txt h1 {
  font-weight: 400;
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-family: "Lora", serif;
  color: white;
  opacity: .9;
  z-index: 5;
}

#intro .play-btn {
  margin-top: 5%;
}

#intro .play-btn .videoBtn {
  border-radius: 30px;
  padding: 10px 67px;
  background-color: #425cbb;
}

#intro .play-btn .videoBtn:hover {
  border-color: #546cc3 !important;
  background-color: #546cc3 !important;
}

#intro .play-btn .videoBtn span {
  color: white;
  font-size: 0.6rem;
  text-transform: uppercase;
  line-height: 1.563rem;
}

#intro .intro-icons {
  position: relative;
}

#intro .intro-icons ul {
  position: absolute;
  left: 30%;
  top: 150px;
}

#intro .intro-icons ul li {
  margin-right: 75%;
}

#intro .intro-icons ul li a {
  color: white;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#intro .intro-icons ul li a:hover {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#intro .intro-icons ul li a i {
  font-size: 1.5rem;
}

#digital {
  overflow: hidden;
  padding: 100px 0;
}

#digital .digital-tab {
  margin-top: 11%;
}

#digital .digital-tab ul li {
  font-family: "Lora", serif;
  font-size: 1.08rem;
  opacity: 0.5;
  font-style: italic;
  color: #767676;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#digital .digital-tab ul li:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

#digital .digital-tab ul li.active {
  opacity: 1;
}

#digital .digital-tab ul li.backslash::before {
  content: "/";
  opacity: .2;
  margin: 0 10px;
}

#digital .photo-content {
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital .photo-content .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #232323c4;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital .photo-content .overlay h6 {
  color: white;
  text-align: right;
  margin-right: 9%;
  margin-top: 13%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 700;
}

#digital .photo-content .overlay p {
  color: white;
  text-align: right;
  margin-right: 9%;
  font-style: italic;
  font-family: "Lora", serif;
}

#digital .photo-content:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital .photo-content:hover .overlay {
  opacity: 1;
  visibility: visible;
}

#digital .photo-content:hover .overlay h6 {
  margin-top: 10%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#creative {
  padding: 100px 0;
}

#creative .pictures {
  margin-top: 45%;
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#creative .pictures .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #232323c4;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#creative .pictures .overlay span {
  display: block;
  color: white;
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: 8%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: .75;
  margin-bottom: 1%;
}

#creative .pictures .overlay p {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 8%;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#creative .pictures .overlay .social {
  position: relative;
}

#creative .pictures .overlay .social ul {
  position: absolute;
  top: 130px;
  left: -112px;
}

#creative .pictures .overlay .social ul li {
  margin-left: 33px;
}

#creative .pictures .overlay .social ul li a {
  color: white;
  opacity: 0.5;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#creative .pictures .overlay .social ul li a:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 1;
}

#creative .pictures:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#creative .pictures:hover .overlay {
  opacity: 1;
  visibility: visible;
}

#creative .pictures:hover .overlay span {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 0;
}

#creative .pictures:hover .overlay p {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 0;
}

#parallax {
  padding: 100px 0;
  background-attachment: fixed;
  background-image: url("../img/parallax/hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#parallax .parallax-icon {
  text-align: center;
}

#parallax .parallax-icon i {
  font-size: 4rem;
  color: white;
}

#parallax .parallax-icon h3 {
  font-weight: 700;
  color: white;
  margin: 6% 0;
}

#parallax .parallax-icon p {
  font-style: italic;
  font-family: "Lora", serif;
  color: white;
}

#parallax::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */