body{
    font-family: $bodyFont;
}

.title{@include title}

%sameBtn{
    background-color: transparent;
    padding: 15px 55px;
    border-radius: 30px;
    text-decoration: none;
    @include transition(all.3s);

    &:hover{
        @include transition(all.3s)
    }
}

