#intro {
  height: 100vh;
  background-image: url(../img/intro-pic/hero1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.308);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo {
    margin-top: 5%;
    text-align: right;

    img {
      height: 120px;
    }
  }

  .txt {
    margin-top: 13%;
    text-align: left;

    h1 {
      font-weight: 400;
      font-size: 1.4375em;
      line-height: 1.69565217em;
      font-family: $fontForTitle;
      color: $whiteText;
      opacity: 0.9;
      z-index: 5;
    }
  }

  .play-btn {
    margin-top: 5%;

    .videoBtn {
      @extend %primaryBtn;

      padding: 10px 67px;
    }
  }

  .intro-icons {
    position: relative;

    ul {
      position: absolute;
      left: 30%;
      top: 150px;

      li {
        a {
          color: $whiteText;
          opacity: $opacityOff;
          @include transition(all 0.4s);
          &:hover {
            opacity: $opacityOn;
            @include transition(all 0.4s);
          }

          i {
            font-size: 1.5rem;
          }
        }
      }

      li:not(:last-child) {
        margin-right: 75%;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  #intro {
    background-attachment: scroll;

    .logo {
      img {
        height: 100px;
      }
    }
    .txt {
      h1 {
        font-size: 1.4rem;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  #intro {
    background-attachment: scroll;
    height: 0;
    padding: 250px 0;

    .logo {
      text-align: center;
      img {
        height: 85px;
      }
    }

    .txt {
      text-align: center;

      h1 {
        font-size: 1.2rem;
      }
    }

    .play-btn {
      .videoBtn {
        padding: 7px 40px;
      }
    }

    .intro-icons {
      ul {
        display: flex;
        left: 29%;
        top: 20px;

        li {
          a {
            i {
              font-size: 1rem;
            }
          }
        }

        li:not(:last-child) {
          margin-right: 50%;
        }
      }
    }
  }
}
