
    
nav{
    position: relative;
    background-color: transparent;
    padding: 10px!important;
    @include transition(all .4s);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    
    a.navbar-brand{
        margin-left:2.6%;

        img{
            height: 26px;
        }
    }


    ul.navbar-nav{
        margin-left: 3%;
        li{
            font-size: 10px;
            font-weight: 400;
            text-transform: uppercase;
            margin-right: 10px;

            
            a{color: $whiteText!important;
                @include transition(all .4s);
                &:hover{
                    opacity: $opacityOff;
                    @include transition(all .4s);
                }
            
            }
        }
    }


    .nav-icons{
        margin-left: 65%;
        margin-top: 10px;

      
        
        

        

        li{
            margin-right: 32px;

            a{ color:$whiteText!important;
                @include transition(all .4s);

                i{font-size: 14px;}

                &:hover{
                    opacity: $opacityOff;
                    @include transition(all .4s);
                }
            }
        }
        
    
    }

    &::after{
        position: absolute;
        content:"";
        height: 71px;
        width: 1px;
        background-color:rgba(255, 255, 255, 0.1);
        top: 0;
        right:9.5%;
    }


    }

    .scrolled{
        background-color:$whiteText;
       
        @include transition (all .4s);

        ul.navbar-nav{
            li{
                a{color: black!important;
                    @include transition(all .4s);
                    &:hover{
                        opacity: $opacityOff;
                        @include transition(all .4s);
                    }
                
                }
            }
        }
    
        .nav-icons{
            li{
                
    
                a{ color:black!important;
                    @include transition(all .4s);
    
                    i{font-size: 14px;}
    
                    &:hover{
                        opacity: $opacityOff;
                        @include transition(all .4s);
                    }
                }
            }
        }
        &::after{
            background-color:rgba(146, 145, 145, 0.288);
            
        }
       
    
    }

    
