#slider{
    padding: 50px 0;
    background: #f4f4f4;

    .slide{
        justify-content: baseline;
        .item{
            
            img{opacity: .3;
                max-width: 110px;

                max-height: 40px;
            }

            img.behave{
                
                margin-left: 25%;
                max-width: 33px;
            }
            img.partner5{
                margin-top: 5px;
            }
            
            
        }


    }
}