#pre-nav {
  padding: 6px 0;
  background-color: #f4f4f4;
  

  .preNav-content {
    margin-top: 5px;
    span {
      color: $body-color;
      font-size: 0.6875em;
      font-family: $fontForTitle;
      margin-left: 2.6%;
    }
  }

  .pre-socialLinks {
    margin-top: 5px;
    ul {
      li {
        margin-right: 16%;

        a {
          color: black;
          opacity: $opacityOff;
          @include transition(all 0.4s);

          &:hover {
            @include transition(all 0.4s);
            opacity: $opacityOn;
          }

          i {
            font-size: 13px;
          }
        }
      }
    }
  }
}

nav.loginpage{
  background-color: #f8f8f8;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 10px!important;
  @include transition(all .4s);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);


  
  a.navbar-brand{
      margin-left:2.6%;

      img{
          height: 26px;
      }
  }


  ul.navbar-nav{
      margin-left: 3%;
      li{
          font-size: 10px;
          font-weight: 400;
          text-transform: uppercase;
          margin-right: 10px;

          
          a{color: black;
              @include transition(all .4s);
              &:hover{
                  opacity: $opacityOff;
                  @include transition(all .4s);
              }
          
          }
      }
      li:not(:last-child){
        margin-right: 10px;
    }
  }


  .nav-icons{
      margin-left: 65%;
      margin-top: 10px;

    
      
      

      

      li{
          margin-right: 32px;

          a{ color:black;
              @include transition(all .4s);

              i{font-size: 14px;}

              &:hover{
                  opacity: $opacityOff;
                  @include transition(all .4s);
              }
          }
      }
      
  
  }

  &::after{
      position: absolute;
      content:"";
      height: 71px;
      width: 1px;
      background-color:rgba(209, 209, 209, 0.41);
      top: 0;
      right:9.5%;
  }

  
}

.login-pos-nav {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  @include transition (all .4s);
}

#login {
  

  .login-pic {
    background-image: url(../img/login/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: $opacityOn;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;

    img{
      display: none;
    }
  }

  .login-info {

    padding: 50px 0;
    .login-title {
      text-align: center;
      margin-bottom: 5%;

      .logo-part {
        img {
          height: 3.25rem;
        }
      }

      h3 {
        font-family: $fontForTitle;
        font-size: 1.4375em;
        margin-top: 2.3%;
        line-height: 2.5rem;
        font-weight: 400;
        color: $body-color;
      }
    }

    .typing-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      label {
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 0.625rem;
        margin-left: 8%;
        margin-bottom: 5%;
      }

      i.user {
        position: absolute;
        top: 23%;
        left: 27%;
        font-size: 1.2rem;
        color: #232323;
      }
      i.pass {
        position: absolute;
        top: 73%;
        left: 27%;
        font-size: 1.2rem;
        color: #232323;
      }

      input {
        border-radius: 30px;
        background-color: #f8f8f8;
        padding: 27px 63px;
        text-indent: 0px;

        &::placeholder {
          font-family: $fontForTitle;
          font-style: italic;
          opacity: $opacityOff;
        }
      }
    }

    .logged {
      display: flex;
      justify-content: center;

      .round {
        position: relative;
      }
      
      .round label {
        background-color: #f8f8f8;
        border: 1px solid #f8f8f8;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        left: -10px;
        position: absolute;
        top: 3px;
        width: 28px;
      }
      
      .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 7px;
        opacity: 0;
        position: absolute;
        top: 8px;
        transform: rotate(-45deg);
        width: 12px;
      }
      
      .round input[type="checkbox"] {
        visibility: hidden;
      }
      
      .round input[type="checkbox"]:checked + label {
        background-color: #66bb6a;
        border-color: #66bb6a;
      }
      
      .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
      }

      span {
        color: $body-color;
        font-size: 0.6875em;
        font-family: $fontForTitle;
        margin-left: 2%;
        margin-top: 1.2%;
      }
    }

    .logBtn {
      text-align: center;
      margin-top: 10%;
      a {
        border-radius: 30px;
        padding: 18px 151px;
        background-color: $primary-color;
        text-decoration: none;
        &:hover {
          border-color: #546cc3 !important;
          background-color: #546cc3 !important;
        }

        .loggedBtn {
          color: $whiteText;
          font-size: 0.6rem;
          text-transform: uppercase;
          line-height: 1.563rem;
        }
      }
    }

    .forgot {
      text-align: center;
      margin-top: 1.625rem;

      span {
        color: $body-color;
        font-size: 0.6875em;
        font-family: $fontForTitle;
      }

      a {
        color: $body-color;
        font-family: $fontForTitle;
        font-size: 0.6875em;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width:990px){

  nav.loginpage{
    padding: 10px 0 !important;

    .nav-icons{
      margin-left: 3%;
            li{
                margin-right: 0;
                margin-bottom: 2%;
    
                a{ color:black!important;
                    @include transition(all .4s);
    
                    i{font-size: 14px;}
    
                    &:hover{
                        opacity: $opacityOff;
                        @include transition(all .4s);
                    }
                }
            }

      span{
        font-size: 0.625rem;
        color:black;
        font-family: $bodyFont;
        font-weight: 300;
        margin-left: 8px;}

       

    }

    &::after{
      background-color:transparent;
      
  }
    
  }

  #login{

    .login-info{

      .logged{

        .round label {
         left: -15px;
          top: 0px;
          
        }
      }
    }

    
    



    .login-info{
      
      

      padding: 195px 0;

     .login-pic{
      img{
        display: none;
      }
     }


      .typing-info{

        i.user{
          top: 25%;
          left: 18%;
        }

        i.pass{

          top: 75%;
          left: 18%;
        }
      }
    }
  }

}




@media screen and (max-width:700px){

  #pre-nav{

    .preNav-content{
      text-align: center;
    }

    .pre-socialLinks{
      display: none;
    }
  }

  #login{

    

    
    .login-pic{
      img{
        display: block;
      }
     }




    .login-info{
      
      background-image: none;

      padding: 50px 0;
      

      .login-title{

        .logo-part{

          img{
            height: 3rem;
          }
        }
      }

      


      .typing-info{

        i.user{
          top: 25%;
          left: 10%;
        }

        i.pass{

          top: 75%;
          left: 10%;
        }
      }

      
    }
  }

}



